{% macro event_component(event) %}
<div class="event">
    <div class="info">
        <time>{{ event.datetime.strftime('%H:%M') }}</time>
        <address>{{ event.venue.name }}</address>
    </div>
    {% if event.duration %}
    <p class="duration">{{ event.duration }}</p>
    {% endif %}
    <a class="source-link" href="{{ event.url }}" target="_blank">
        <h3 class="title">{{ event.title }}</h3>
        <h4 class="author">{{ event.author }}</h4>
    </a>
    <p>{{ event.description }}</p>
    <a href="/event_trace/{{ event.id }}">trace</a>
</div>
{% endmacro %}
